#tsparticles {
  position: absolute;
  /* To make sure the particles remain ONLY on the left image which is almost 58.33%( or 7/12) wide */
  width: 58.33%;
  height: 100%;
  /* background-color: #0d47a1; */

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  /* color: black; */
  z-index: +1;
}

@media only screen and (max-width: 960px) {
  /* For tabs, so that particles say ONLY on image */
  #tsparticles {
    width: 33%;
  }
}

@media only screen and (max-width: 600px) {
  /* For Mobile, no particles are there on the log in form */
  #tsparticles {
    width: 0;
  }
}

.face-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
